h1 {
    font-family: futura;
}

#circle1 {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 37.5%;
    top: 10%;
    margin-top: 100px;
    overflow: hidden;
    border: 1px solid black;
}

#circle2 {
    background: #DCDCDC;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 3%;
    left: 30.5%;
    margin-top: 140px;
    position: absolute;
    border: 1px solid black;
}

#circle2:hover {
    transform: translateY(1.5px);
}

#circle2:active {
    transform: translateY(3px);
}

.dit {
    opacity: 1;
}

.pad:active {
    opacity: 0.4;
}

[id='0'] {
    position: absolute;
    background: green;
    /*#6AFE5B*/
    /*opacity: 0.6;*/
    left: -12%;
    top: -7%;
    width: 300px;
    height: 300px;
    border-top-left-radius: 50%;
}

[id='1'] {
    position: absolute;
    background: red;
    /*opacity: 0.6;*/
    left: 48%;
    top: -7%;
    width: 300px;
    height: 300px;
    border-top-right-radius: 50%;
}

[id='2'] {
    position: absolute;
    background: yellow;
    top: 53%;
    left: -4%;
    width: 270px;
    height: 270px;
    border-bottom-left-radius: 50%;
}

[id='3'] {
    position: absolute;
    background: blue;
    top: 53%;
    left: 50%;
    width: 270px;
    height: 270px;
    border-bottom-right-radius: 50%;
}

#restartButton,
#strictButton {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border: 1px solid black;
}

#optionsFont {
    font-family: Cursive, Futura;
    font-size: 25px;
}

#optionsFont2 {
    font-family: Cursive, Futura;
    font-size: 25px;
}

#restartButton:hover,
#strictButton:hover {
    background-color: rgba(255, 204, 0, 0.8);
}

#restartButton:active,
#strictButton:active {
    transform: translateY(1.5px);
}

#startFont {
    font-family: Cursive, Futura;
    font-size: 35px;
    margin-top: 78px;
}
